[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/suntornl
[access "refs/for/refs/*"]
	read = group user/suntornl
	push = group user/suntornl
	label-Code-Review = -2..+2 group user/suntornl
	label-Verified = -1..+1 group user/suntornl
	rebase = group user/suntornl
	removeReviewer = group user/suntornl
	submit = group user/suntornl
[access "refs/heads/*"]
	read = group user/suntornl
	create = group user/suntornl
	push = +force group user/suntornl
	pushMerge = group user/suntornl
[access "refs/tags/*"]
	push = group user/suntornl
	push = +force group user/suntornl
